
@charset "utf-8";
@import "../../node_modules/bulma/css/bulma.min.css";
@import "../../node_modules/bulma-accordion/dist/css/bulma-accordion.min.css";
// Required Core Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";
// Optional Theme Stylesheet
@import "node_modules/@glidejs/glide/src/assets/sass/glide.theme";
  
body {
  font-family: 'Lato', sans-serif; 
  background-color: #fafafa;
}

main.has-navbar-fixed-top {
  padding-top: 8rem;
}

.title img {
  max-height: 300px;
}

.container {
  margin: 0 auto;
}

.hero.is-large .hero-body {
  padding: 0rem 1.5rem 4.5rem 1.5rem;
}

.hero-body .container{
  display: flex;
  justify-content: center;
}
#header-container {
  display: flex;
  justify-content: center;
  margin: 0 auto;
}

.logo{
  width: 36em;
}


.navbar {
  padding-bottom: .2em;
  background-color: rgba(250, 250, 250, 0.7);
  height: 2.5em;
}

.navbar-start, .navbar-end {
  margin: 0;
}


.navbar-menu {
  justify-content: center;
  margin-right: 2.4em;
  align-items: center;
}

a.navbar-item:hover {
  color: black;
  background-color:#fafafa;
}

.navbar.is-black .navbar-start {
  letter-spacing: 2.5px;
}

.navbar-item img {
  max-height: 5.75rem;
  margin-left: 2em;
}

#header-container {
  display: flex;
  justify-content: start;
  margin-bottom: -30px;
}

.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.is-snow {
  background-color: #fafafa;
}

.section {
  margin: 1rem 12rem;
  padding: 0;
}

main .section-title, .navbar-menu, .navbar-item .button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}

/* START DIVIDER */

.vl {
  border-left: 7px solid #EA3649;
  height: 4em;
  position: relative;
  left: 50%;
  margin-left: -3px;
  top: 0;
}

.divider {
  position: relative;
  padding: 3em 0em;
}

/* END DIVIDER */

.text-block{
  padding: 1em 1em 5em 1em;
}

.section-title {
  margin: .8em 0;
}

.tile-title {
  text-align: center;
}


article.tile {
  display: flex;
  flex-direction: column;
}

article.notification{
  padding: 0;
}

div.content {
  margin-top: 2rem;
}

.icon{
  align-self: center;
}


h2.section-title{
  font-size: 2em;
  display: flex;
  justify-content: center;
}

p{
  font-size: 1em;
}

dt {
  font-weight: bold;
  margin-top: 0.8em;
}

.button.is-danger {
  background-color: #EA3649;
}

.accordions {
  border-bottom: 1px dashed black;
}

.accordions .accordion {
  border: 1px dashed black;
  border-bottom: none;
}

.accordions .accordion:not(:first-child) .accordion-header {
  border-radius: 0;
  background-color: #fafafa;
  color: black;
}

.accordions .accordion .accordion-header+.accordion-body {
  border: none;
  background-color: #fafafa;
}

.accordions .accordion .accordion-header .toggle {
  background-color: #fafafa;
  border-radius: 0;
  margin: 0;
  height: auto;
  width: auto;
  max-height: none;
  max-width: none;
}

.accordions .accordion .accordion-header {
  padding: .75em;
}

.accordions .accordion .accordion-header .toggle::before {
  color: black;
  display: inline-block;
  position: relative;
  top: -.2em;
  content: '\2304';
  margin-right: 10px;
}

.accordion-content {
  border-top: 1px dashed black;
}

/**********  FOOTER  **********/

.footer {
  background-color: #121212;
  padding: 2rem 0.5rem 2rem;
  font-size: 1em;
  letter-spacing: 2px;
}

a {
  color: #4a4a4a;
}

footer h2 {
  color: #fafafa;   
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  letter-spacing: 10px;
}

footer h2:hover{
  color: #EA3649;
  text-decoration: double-underline;
}

#faqs {
  margin: 0 13rem;
}

/******* NAVBAR MENU ANIMATION ********/

.sweep {
  display: inline-block;
}

.sweep::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #EA3649;
  transition: width .3s;
}

.sweep:hover::after {
  width: 100%;
}