@import url(../../node_modules/bulma/css/bulma.min.css);
@import url(../../node_modules/bulma-accordion/dist/css/bulma-accordion.min.css);
.glide {
  position: relative;
  width: 100%;
  box-sizing: border-box; }
  .glide * {
    box-sizing: inherit; }
  .glide__track {
    overflow: hidden; }
  .glide__slides {
    position: relative;
    width: 100%;
    list-style: none;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    touch-action: pan-Y;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    display: flex;
    flex-wrap: nowrap;
    will-change: transform; }
    .glide__slides--dragging {
      user-select: none; }
  .glide__slide {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
    white-space: normal;
    user-select: none;
    -webkit-touch-callout: none;
    -webkit-tap-highlight-color: transparent; }
    .glide__slide a {
      user-select: none;
      -webkit-user-drag: none;
      -moz-user-select: none;
      -ms-user-select: none; }
  .glide__arrows {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide__bullets {
    -webkit-touch-callout: none;
    user-select: none; }
  .glide--rtl {
    direction: rtl; }

.glide__arrow {
  position: absolute;
  display: block;
  top: 50%;
  z-index: 2;
  color: white;
  text-transform: uppercase;
  padding: 9px 12px;
  background-color: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 4px;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  text-shadow: 0 0.25em 0.5em rgba(0, 0, 0, 0.1);
  opacity: 1;
  cursor: pointer;
  transition: opacity 150ms ease, border 300ms ease-in-out;
  transform: translateY(-50%);
  line-height: 1; }
  .glide__arrow:focus {
    outline: none; }
  .glide__arrow:hover {
    border-color: white; }
  .glide__arrow--left {
    left: 2em; }
  .glide__arrow--right {
    right: 2em; }
  .glide__arrow--disabled {
    opacity: 0.33; }

.glide__bullets {
  position: absolute;
  z-index: 2;
  bottom: 2em;
  left: 50%;
  display: inline-flex;
  list-style: none;
  transform: translateX(-50%); }

.glide__bullet {
  background-color: rgba(255, 255, 255, 0.5);
  width: 9px;
  height: 9px;
  padding: 0;
  border-radius: 50%;
  border: 2px solid transparent;
  transition: all 300ms ease-in-out;
  cursor: pointer;
  line-height: 0;
  box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.1);
  margin: 0 0.25em; }
  .glide__bullet:focus {
    outline: none; }
  .glide__bullet:hover, .glide__bullet:focus {
    border: 2px solid white;
    background-color: rgba(255, 255, 255, 0.5); }
  .glide__bullet--active {
    background-color: white; }

.glide--swipeable {
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab; }

.glide--dragging {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing; }

body {
  font-family: 'Lato', sans-serif;
  background-color: #fafafa; }

main.has-navbar-fixed-top {
  padding-top: 8rem; }

.title img {
  max-height: 300px; }

.container {
  margin: 0 auto; }

.hero.is-large .hero-body {
  padding: 0rem 1.5rem 4.5rem 1.5rem; }

.hero-body .container {
  display: flex;
  justify-content: center; }

#header-container {
  display: flex;
  justify-content: center;
  margin: 0 auto; }

.logo {
  width: 36em; }

.navbar {
  padding-bottom: .2em;
  background-color: rgba(250, 250, 250, 0.7);
  height: 2.5em; }

.navbar-start, .navbar-end {
  margin: 0; }

.navbar-menu {
  justify-content: center;
  margin-right: 2.4em;
  align-items: center; }

a.navbar-item:hover {
  color: black;
  background-color: #fafafa; }

.navbar.is-black .navbar-start {
  letter-spacing: 2.5px; }

.navbar-item img {
  max-height: 5.75rem;
  margin-left: 2em; }

#header-container {
  display: flex;
  justify-content: start;
  margin-bottom: -30px; }

.is-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }

.is-snow {
  background-color: #fafafa; }

.section {
  margin: 1rem 12rem;
  padding: 0; }

main .section-title, .navbar-menu, .navbar-item .button {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase; }

/* START DIVIDER */
.vl {
  border-left: 7px solid #EA3649;
  height: 4em;
  position: relative;
  left: 50%;
  margin-left: -3px;
  top: 0; }

.divider {
  position: relative;
  padding: 3em 0em; }

/* END DIVIDER */
.text-block {
  padding: 1em 1em 5em 1em; }

.section-title {
  margin: .8em 0; }

.tile-title {
  text-align: center; }

article.tile {
  display: flex;
  flex-direction: column; }

article.notification {
  padding: 0; }

div.content {
  margin-top: 2rem; }

.icon {
  align-self: center; }

h2.section-title {
  font-size: 2em;
  display: flex;
  justify-content: center; }

p {
  font-size: 1em; }

dt {
  font-weight: bold;
  margin-top: 0.8em; }

.button.is-danger {
  background-color: #EA3649; }

.accordions {
  border-bottom: 1px dashed black; }

.accordions .accordion {
  border: 1px dashed black;
  border-bottom: none; }

.accordions .accordion:not(:first-child) .accordion-header {
  border-radius: 0;
  background-color: #fafafa;
  color: black; }

.accordions .accordion .accordion-header + .accordion-body {
  border: none;
  background-color: #fafafa; }

.accordions .accordion .accordion-header .toggle {
  background-color: #fafafa;
  border-radius: 0;
  margin: 0;
  height: auto;
  width: auto;
  max-height: none;
  max-width: none; }

.accordions .accordion .accordion-header {
  padding: .75em; }

.accordions .accordion .accordion-header .toggle::before {
  color: black;
  display: inline-block;
  position: relative;
  top: -.2em;
  content: '\2304';
  margin-right: 10px; }

.accordion-content {
  border-top: 1px dashed black; }

/**********  FOOTER  **********/
.footer {
  background-color: #121212;
  padding: 2rem 0.5rem 2rem;
  font-size: 1em;
  letter-spacing: 2px; }

a {
  color: #4a4a4a; }

footer h2 {
  color: #fafafa;
  font-size: 1.5em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  margin-bottom: 0.5em;
  letter-spacing: 10px; }

footer h2:hover {
  color: #EA3649;
  text-decoration: double-underline; }

#faqs {
  margin: 0 13rem; }

/******* NAVBAR MENU ANIMATION ********/
.sweep {
  display: inline-block; }

.sweep::after {
  content: '';
  display: block;
  width: 0;
  height: 3px;
  background: #EA3649;
  transition: width .3s; }

.sweep:hover::after {
  width: 100%; }
